extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro 
        em Aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum mollitia facilis, optio fugit illum, error perferendis illo quasi rem dolore corrupti omnis. Eius accusamus necessitatibus ducimus maxime id et debitis.Vel quod et perspiciatis, possimus consectetur ad ratione, dignissimos provident laudantium impedit iure accusantium pariatur debitis expedita dolorem, facere consequuntur modi laboriosam! Eos doloremque autem qui, rerum unde aut at?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cupiditate laboriosam modi pariatur iste, incidunt neque quas sint necessitatibus officia beatae? Veniam asperiores sit possimus cupiditate hic odit libero dicta.
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canadá
                        p.fecha 20 de Marzo de 2022 - 28 de marzo de 2022
                        p.precio $2,500 USD

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales