extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet urna quam. In dictum cursus lectus, at condimentum metus pretium semper. Pellentesque vestibulum, justo lacinia porta pretium, magna justo feugiat quam, non ultricies eros eros laoreet ex. Nam tincidunt nisl sed aliquet pellentesque. Mauris eu condimentum justo, imperdiet fringilla ligula.
                p Nam rutrum molestie commodo. Integer ullamcorper enim et tortor placerat, vel dictum tortor feugiat. Sed faucibus lacus vitae tortor placerat varius. Vestibulum sit amet porta ipsum. Morbi consequat metus non euismod tincidunt. Nam quis augue leo.

                p Praesent posuere erat leo, quis mollis sem finibus nec. Sed condimentum nulla vel velit semper, ut dictum velit euismod. Morbi vitae commodo enim, ut efficitur velit. Nam vitae elit eros. Maecenas at dui a tortor volutpat faucibus. Etiam massa ipsum, ultricies ac porttitor non, sollicitudin nec neque. Etiam maximus, ex feugiat semper molestie, nunc magna posuere tellus, efficitur pulvinar nulla lorem nec justo. Mauris ut quam sed ligula dapibus gravida. In hac habitasse platea dictumst.


    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb4 Seguridad
                    p Praesent posuere erat leo, quis mollis sem finibus nec. Sed condimentum nulla vel velit semper, ut dictum velit euismod
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb4 Mejores Destinos
                    p Praesent posuere erat leo, quis mollis sem finibus nec. Sed condimentum nulla vel velit semper, ut dictum velit euismod
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb4 Los Mejores Precios
                    p Praesent posuere erat leo, quis mollis sem finibus nec. Sed condimentum nulla vel velit semper, ut dictum velit euismod
